In [2]:
import pandas as pd

<h1>Paris</h1>

In [2]:
df_paris = pd.read_csv('paris_final_0822.csv', usecols = ["id", "profile_id"])

In [3]:
df_paris.head(5)

                   id  profile_id
0  665407910630072321   137130157
1  665407909023621120   813565196
2  665407920490835969  2536585628
3  665407916250374144    40190656
4  665407904950976512   135080574

In [14]:
df_paris.size

4352968

In [18]:
import csv
csv_file = 'paris_data_tweet_user_id.csv'
txt_file = 'paris_data_tweet_user_id.txt '
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        [ my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)]
    my_output_file.close()

In [22]:
df_paris.to_csv("paris_data_tweet_user_id.csv", index = None , columns = ["id", "profile_id"])

<h1>Irma</h1>

In [2]:
import pandas as pd
import glob

path = r'Irma' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, usecols = ["id_str", "user_id_str"])
    li.append(df)

df_Irma = pd.concat(li, axis=0, ignore_index=True)

In [3]:
df_Irma.head(5)

               id_str         user_id_str
0  906004693997953024          4884826836
1  906004693985370112          1913277690
2  906004694421700608          4691349415
3  906004694597853184           946463922
4  906004694513795072  816250224767176704

In [59]:
df_Irma.size

40101338

In [60]:
df_Irma.tail(5)

                      id_str  user_id_str
20050664  907454569105440769   3304761170
20050665  907454569566916608   3074014469
20050666  907454569550098432   1486544936
20050667  907454569600491527    291199456
20050668  907454569696899073   2381492767

In [23]:
df_Irma_1 = df_Irma[1:3000000]

In [25]:
df_Irma_2 = df_Irma[3000000:6000000]

In [26]:
df_Irma_3 = df_Irma[6000000:9000000]

In [27]:
df_Irma_4 = df_Irma[9000000:12000000]

In [28]:
df_Irma_5 = df_Irma[12000000:15000000]

In [29]:
df_Irma_6 = df_Irma[15000000:18000000]

In [61]:
df_Irma_7 = df_Irma[18000000:21000000]

In [12]:
df_Irma_1.shape

(9999999, 2)

In [24]:
df_Irma_1.to_csv("Irma_data_tweet_user_id_1.csv", index = None , columns = ["id_str", "user_id_str"])

In [62]:
df_Irma_2.to_csv("Irma_data_tweet_user_id_2.csv", index = None , columns = ["id_str", "user_id_str"])

In [63]:
df_Irma_3.to_csv("Irma_data_tweet_user_id_3.csv", index = None , columns = ["id_str", "user_id_str"])

In [64]:
df_Irma_4.to_csv("Irma_data_tweet_user_id_4.csv", index = None , columns = ["id_str", "user_id_str"])

In [65]:
df_Irma_5.to_csv("Irma_data_tweet_user_id_5.csv", index = None , columns = ["id_str", "user_id_str"])

In [66]:
df_Irma_6.to_csv("Irma_data_tweet_user_id_6.csv", index = None , columns = ["id_str", "user_id_str"])

In [67]:
df_Irma_7.to_csv("Irma_data_tweet_user_id_7.csv", index = None , columns = ["id_str", "user_id_str"])

In [16]:
df_Irma_1[1:2]

               id_str  user_id_str
2  906004694421700608   4691349415

In [ ]:
import csv
csv_file = 'paris_data_tweet_user_id.csv'
txt_file = 'paris_data_tweet_user_id.txt '
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        [ my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)]
    my_output_file.close()

<H1> Charlottesville</H1>

In [5]:
df_clt = pd.read_csv('clt_solidarity_only_eliza.csv', usecols = ["tweetId", "actorId"])

In [6]:
df_clt.head(5)

              tweetId             actorId
0  828755846796558336            17194085
1  828760079113527296          2359670028
2  828760428289351680           166629570
3  828761895280730114  785907061800349696
4  828763110135697409           808889089

In [7]:
df_clt.size

1412466

In [10]:
df_clt.to_csv("charlottesville_tweet_user_id.csv", index = None , columns = ["tweetId", "actorId"])

In [11]:
import csv
csv_file = 'charlottesville_tweet_user_id.csv'
txt_file = 'charlottesville_tweet_user_id.txt '
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        [ my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)]
    my_output_file.close()